<template>
  <v-app id="inspire">
  
    <v-content class="pa-0 py-5 px-3">
      <v-container grid-list-md text-xs-center>
        <v-layout
          row
          wrap
        >
          <v-flex xl3 lg3 md3 sm3 xs12>
            <v-text-field
            label="Искать по имени"
            v-model="searchName"
            solo
            flat
            hide-details
            clearable
            @click:clear="$nextTick(() => searchName='')"
            ></v-text-field>
          </v-flex>
          <v-flex xl3 lg3 md3 sm3 xs12>
            <v-select
            :items="countries"
            label="Все страны"
            v-model="searchCountry"
            solo
            flat
            hide-details
            clearable
            @click:clear="$nextTick(() => searchCountry='')"
            ></v-select>
          </v-flex>
          <v-flex xl3 lg3 md3 sm3 xs12>
            <v-select
            :items="categories"
            label="Все категории"
            v-model="searchCategory"
            solo
            flat
            hide-details
            clearable
            @click:clear="$nextTick(() => searchCategory='')"
            ></v-select>
          </v-flex>
          <v-flex xl3 lg3 md3 sm3 xs12>
            <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :return-value.sync="searchDate"
              full-width
            >
              <v-text-field
              slot="activator"
              label="Все даты"
              v-model="searchDate"
              solo
              flat
              readonly
              hide-details
              clearable
              @click:clear="$nextTick(() => searchDate='')"
              ></v-text-field>
              <v-date-picker
                v-model="searchDate"
                type="month"
                no-title
                scrollable
                locale="ru-ru"
              >
                <v-spacer></v-spacer>
                <v-btn text color="primary" @click="menu = false">Отмена</v-btn>
                <v-btn text color="primary" @click="$refs.menu.save(searchDate); test()">OK</v-btn>
              </v-date-picker>
            </v-menu>
          </v-flex>
        </v-layout>
      </v-container>
      <v-container people-wrap grid-list-md text-xs-center >
        <v-layout
          row
          wrap
        >
          <v-flex v-for="person in filteredPersons" :key="person.id" xl3 lg3 md3 sm6 xs12>
            <v-card
              flat
              min-height="300"
            >
              <v-img class="mx-5 rounded top"
                :src="person.photo_url"
                aspect-ratio="1"
              ></v-img>

              <v-card-title primary-title>
                <div>
                  <h3 class="title mb-2"> {{ person.name }}</h3>
                  <div> {{ person.desc }} </div>
                </div>
              </v-card-title>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>


<script>
  export default {
    data: () => ({
      menu: false,
      searchName: '',
      searchCountry: '',
      searchCategory: '',
      searchDate: '',
      countries: ['Россия', 'Америка'],
      categories: ['Дизайнер', 'Основатель', 'Директор', 'Архитектор', 'Редактор'],
      persons: [
        {
          id: 1,
          name: 'Сергей Трегубов',
          desc: 'Дизайнер-декоратор, основатель студии дизайна Onion-Art',
          category: ['дизайнер', 'основатель'],
          country: 'Россия',
          photo_url: 'https://i.ytimg.com/vi/lBnH-hYIOl8/maxresdefault.jpg',
          date: '2018-12'
        },
        {
          id: 2,
          name: 'Айя Лисова',
          desc: 'Основатель студии Aiya Design',
          category: ['дизайнер', 'основатель'],
          country: 'Россия',
          photo_url: 'https://mirhat.ru/wp-content/uploads/2018/12/68fsmall7006.jpeg',
          date: '2018-08'
        },
        {
          id: 3,
          name: 'Александр Змеул',
          desc: 'Главный редактор arch:speech, куратор архитектурного форума MosBuild',
          category: ['дизайнер', 'редактор', 'архитектор'],
          country: 'Россия',
          photo_url: 'https://i.archi.ru/i/250/249972.jpg',
          date: '2018-07'
        },
        {
          id: 4,
          name: 'Александр Курандин',
          desc: 'Генеральный директор сети "Бауцентр"',
          category: ['директор'],
          country: 'Россия',
          photo_url: 'http://emlconsultants.com/wp-content/uploads/2015/05/no-profile-img-1024x1024.gif',
          date: '2018-06'
        },
        {
          id: 5,
          name: 'Александр Семочкин',
          desc: 'Главный архитектор, департамент продукта',
          category: ['архитектор'],
          country: 'Америка',
          photo_url: 'http://emlconsultants.com/wp-content/uploads/2015/05/no-profile-img-1024x1024.gif',
          date: '2018-05'
        },
        {
          id: 6,
          name: 'Александр Цимайло и Николай Ляшенко',
          desc: 'Архитекторы, совладельцы Архитектурного бюро "Цимайло Ляшенко и Партнеры"',
          category: ['архитектор'],
          country: 'Америка',
          photo_url: 'https://bazaar.ru/upload/attach/dae/dae30af58800a89d0dfd985d3a2eabdf.jpg',
          date: '2018-04'
        },
        {
          id: 7,
          name: 'Алексей Дорожкин',
          desc: 'Главный редактор ELLE Decoration',
          category: ['редактор'],
          country: 'Америка',
          photo_url: 'https://static.ngs.ru/news/preview_conferences/2e8e3bcf172783afe6282c392868355007432c53_230_230_c.jpg',
          date: '2018-02'
        },
        {
          id: 8,
          name: 'Алексей Кутейников',
          desc: 'Генеральный директор FORUMHOUSE',
          category: ['директор'],
          country: 'Америка',
          photo_url: 'https://storage.theoryandpractice.ru/tnp/uploads/image_avatar/000/049/314/image/medium_7c9a6026f0.jpg',
          date: '2018-03'
        },                
      ],
    }),
    props: {
      source: String
    },
    computed: {
      filteredPersons: function(){
        return this.persons.filter((person) => {
          if (person.name.toLowerCase().match(this.searchName.toLowerCase())&&person.country.toLowerCase().match(this.searchCountry.toLowerCase())&&((person.category.indexOf(this.searchCategory.toLowerCase(), 0)!=-1)||this.searchCategory=='')&&((person.date==this.searchDate)||this.searchDate=='')) {
            return true;
          }
        });
      }
    },
    methods: {
      test: function() {
      }
    }
}

</script>

<style>
.container.grid-list-md.text-xs-center {
  background-color: #e9edef;
  padding: 9px;
}
.people-wrap.container.grid-list-md.text-xs-center{
  background-color: #fff;
}
.rounded {
  border-radius: 50% !important;
}
.rounded.top {
  top: 10px;
}
.v-card.v-sheet.theme--light {
  background-color: #E9EDEF;
  border-radius: initial;
}
.container.grid-list-md .layout .flex {
  padding: 10px
}
.v-content__wrap {
  max-width: 1111px;
  margin: 0 auto;
}
.theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
  border-radius: 0px;
}
.people-wrap.container.grid-list-md.text-xs-center {
  min-height: 635px;
}
</style>
